<div class="container mt-5" id="container" >
  <div class="row"><br><br>
    <div class="col-md-2" *ngFor="let product of products "><br><br>
      <div class="card h-50">
        <div class="card-img-container">
        <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
        </div>
        <div class="card-body" >
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>${{ product.price }}</strong></p>
          <div class="row"><div class="col-md-8">
            
            <button class="btn btn-primary"(click)="addToCart(product)" > Add Cart</button>
          </div>
        <div class="col-md-4"> <button class="btn btn-primary" (click)="Buy(product)">Buy</button>

        </div></div>
         
        </div>
      </div>
    </div>
  </div>
</div>

  
